@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  nav {
    overflow-x: hidden;
  }
}

.font-poppins {
  font-family: "Poppins";
}

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin-right: 5%;
  overflow: visible;
  position: relative;
  z-index: 2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: red;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mobile-visible {
  display: none;
}
.mobile-categories {
  display: none;
}

.small-laptop-visible-reverse {
  display: block;
}

.small-laptop-visible {
  display: none;
}

.animation-bar {
  width: 0;
  height: 0.25rem;
  transition: 0.4s ease-out;
}

.animate-lineFull:hover .animation-bar {
  width: 100%;
}

ul.list-style-inside {
  list-style: inside !important;
}

@media screen and (max-width: 960px) {
  .laptop-visible {
    display: none;
  }
  .mobile-visible {
    display: block;
  }
  .categories {
    display: none;
  }
  .mobile-categories {
    display: flex;
  }
  .mobile-style {
    text-align: center;
  }
  .text-center-for-mobile {
    margin-left: 5%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1300px) {
  .small-laptop-visible-reverse {
    display: none;
  }
  .small-laptop-visible {
    display: block;
  }
}  */
